.App {
  text-align: center;
  background-color: brown;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    scale: 50%;
    animation: App-logo-bob infinite 3s linear;
  }
}


#fast{
  color:#61dafb;
  font-weight: bold;
}

#score{
  color:#61dafb;
  font-weight: bold;

}


#slow{
  color:#61dafb;
  font-weight: bold;

}


#avg{
  color:#61dafb;
  font-weight: bold;

}


.App-header {
  background-color: #4f3034;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-bob {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
